

body {
		background: #000000;
    font-family: 'Arial', sans-serif;
    font-style: normal;
		font-weight: 300;
    padding-top: 70px;
    overflow-x: hidden;
}


/*---------------------------------------
    Typo            
-----------------------------------------*/

h1,
.navbar-default, .btn {
  font-family: Arial;
  font-weight: 400;
}



h1 {
    color: #000000;
    font-size: 34px;
    font-family: Arial;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 10px;
    margin-bottom: 0px;
}



p {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    font-family: Arial;
    text-align: center;
    margin: 0 0 16px;
}

.win-text {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    font-family: Arial;
    text-align: center;
    display: block;
}

hr {
  border-top: 1px solid #bbb;
  width: 100px;
}



/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #000000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #fff;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #ffffff;
}

.section-title {
  position: relative;
  padding-bottom: 34px;
  text-align: center;
}

#about {
  padding-top: 40px;
  padding-bottom: 90px;
  font-family: Arial;
  background: #ffffff;
}


/*---------------------------------------
    Confirm Message            
-----------------------------------------*/

#confirm {
      background: #ffffff;
    color: #000000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 65vh;
    position: relative;
}

p.message {
    color: #000000;
    font-size: 34px;
    font-family: Arial;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
}

/*---------------------------------------
    Preload            
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}


/*---------------------------------------
    Navigation section              
-----------------------------------------*/

.navbar-default {
    background: #000000;
    border: none;
    box-shadow: none;
    margin: 0 !important;
    min-height: 70px;
}


.topbar-aj {
    width: 110px;
    padding: 15px;
}


.navbar-header {
    float: none;
}


.header-logo {
  width: 110px;
  margin:  0 auto;
  display: flex;
  align-items: center;
}




/*---------------------------------------
    Home section              
-----------------------------------------*/

#home {
    background: #000000;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    height: 100vh;
    position: relative;
}

#home .overlay {
  background: #000000; 
  background: -webkit-linear-gradient(to bottom, #000000 , #2a2a2a); /* Chrome 10-25, Safari 5.1-6 */ 
  background: linear-gradient(to bottom, #000000 , #2a2a2a);
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
}


#home .home-series {
    padding-top: 5px;
    padding-left: 5px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}


.series_caption {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.jordans_img {
    width: 100%;
    margin: 0 auto;
    display: block;

}

  .aj-left {
    width: 100%;
    max-width: 580px;
    top: 40px;
    right: -140px;
    z-index: 1;
    margin: 0 auto;
}


  .aj-right {
    width: 100%;
    max-width: 580px;
    top: 20px;
    left: -20px;
    z-index: 0;
    margin: 0 auto;
}

p.ajseries {
    font-size: 60px;
    font-weight: bold;
    font-family: Arial;
    font-style: italic;
    color: #ffffff;
    margin: 0 0 1.2em 0;
}

p.ajseven {
    font-size: 190px;
    font-weight: bold;
    font-family: Arial;
    color: #ffffff;
    margin: 0;
}




/*---------------------------------------
    Sign Up              
-----------------------------------------*/


.win-signup {
    display: block;
    margin-top: 4em;
}


.win-signup .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #000;
    border-radius: 0px;
    box-shadow: none;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    transition: all 0.4s ease-in-out;
    margin-bottom: 20px;
}


.win-signup .form-control:focus {
  border-color: #ffffff;
}

.win-signup input[type="submit"] {
    background-color: #ffffff;
    border: 3px solid #000000;
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    height: 55px;
}

.win-signup input[type="submit"]:hover {
  background-color: #000000;
  color: #ffffff;
}

.win-signup .form-control::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.win-signup .form-control:-ms-input-placeholder {
  color: #000000;
}

.win-signup .form-control::-webkit-input-placeholder {
  color: #000000;
}


/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background: red;
}

footer span {
  padding-right: 10px;
  padding-left: 10px;
}




/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #fff;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 0px;
    margin: 10px 4px 0px 4px;
}

.social-icon li a:hover {
    background: #ffffff;
    color: #000000;
    top: -5px;
}

.nike_air {
    width: 80px;
    margin: 3em auto;
}





/*---------------------------------------
   Breakpoints        
-----------------------------------------*/

@media (max-width: 2400px) {
  .aj-con {
  width: 1080px;
  }
}


@media (max-width: 1200px) {
  .container {
	width: 100%;
  }



p.ajseries {
    font-size: 55px;
    margin: 0 0 1.2em 0;
}


p.ajseven {
   font-size: 168px;
}



}

@media (max-width: 980px) {

  #home {
    height: 60vh;
}

#home .overlay {
    height: 60vh;
}

.jordans_img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

  h1 {
    font-size: 38px;
  }
  

  #home, #home .overlay {
    height: 60vh;
  }


  #about {
    text-align: center;
  }



}

@media (max-width: 768px) {

  h1 {
    font-size: 28px;
  }



  #about {
    padding-top: 60px;
    padding-bottom: 60px;
  }

}

@media (max-width: 767px) {

   body {
    padding-top: 0px;
    text-align: center;
  }

  .navbar-default {
    text-align: center;
    padding-top: 0px;
  }

  .header-logo {
    width: 80px;
 }

 .jordans_img {
    width: 80%;
 }


  #home, #home .overlay {
    height: 50vh;
  }

  #home img {
    position: relative;
    display: inline-block;
  }




  #home .home-series {
      top: 40px;
  }


}

@media (max-width: 650px) {

  h1 {
    font-size: 28px;
  }


  p {
    font-size: 16px;
  }

  p.ajseries {
    font-size: 32px;
    margin: 0 0 0.8em 0;
  }

  p.ajseven {
    font-size: 98px;
  }

}



@media (max-width: 430px) {

  .jordans_img {
    width: 93%;
  }

  #home, #home .overlay {
      height: 40vh;
  }

}